aiohttp
aiosignal
altair
async-timeout
attrs
blinker
brotli
cachetools
certifi
cffi
charset-normalizer
click
cryptography
frozenlist
gitdb
gitpython
google-ads==27.0.0
google-api-core
google-auth
google-auth-oauthlib
googleapis-common-protos
grpcio
grpcio-status
h2
hpack
hyperframe
idna
importlib_metadata
jinja2
jsonschema
jsonschema-specifications
markupsafe
multidict
narwhals
numpy
oauthlib
packaging
pandas
pillow
propcache
proto-plus
protobuf
pyarrow==21.0.0
pyasn1
pyasn1_modules
pycparser
pydeck
pyjwt
pyopenssl
pysocks
python-dateutil
python-dotenv
pytz
pyu2f
pyyaml
referencing
requests
requests-oauthlib
rpds-py
rsa
six
smmap
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
yarl
zipp
openpyxl
zstandard==0.24.0